RMQ-Sparse-Table-Static
RMQ-Sparse-Table-Dinamic
RMQ-Segment-Tree-Static
RMQ-Segment-Tree-Dinamic

dataset_1000.txt
dataset_2000.txt
dataset_3000.txt
dataset_4000.txt
dataset_5000.txt

comandos_1000.txt
comandos_2000.txt
comandos_3000.txt
comandos_4000.txt
comandos_5000.txt
comandos_static_1000.txt
comandos_static_2000.txt
comandos_static_3000.txt
comandos_static_4000.txt
comandos_static_5000.txt
